<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.up.fe.droidbeiro" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/droidbeiro_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Presentation.DeviceScanActivity"
            android:label="Droidbeiro"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation.Connection"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.ChefeMain"
            android:label="Chefe de Equipa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.BombeiroMain"
            android:label="Bombeiro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.ChefeLF"
            android:label="Linha de Fogo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.BombeiroMC"
            android:label="Modo de Combate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Presentation.Compass"
            android:label="Modo de Combate"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".Communication.Client_Socket"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" >
        </service>
        <service
            android:name=".Service.AudioMessagesService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Service.GPS"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" >
        </service>

        <service
            android:name=".Service.BLE.SerialPortService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Service.BLE.DeviceControlService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Service.BLE.BluetoothLeService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Service.BLE.RadioControlService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Service.TapDetection"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Service.Acelarometro"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".Presentation.ChangeTeam"
            android:label="@string/title_activity_change_team" >
        </activity>

        <receiver
            android:name=".Communication.Client_Socket$MyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".Communication.Client_Socket$MyBroadcastReceiver_gps"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".Communication.Client_Socket$MyBroadcastReceiver_gps_ack"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".Communication.Client_Socket$MyBroadcastReceiver_normal"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".Communication.Client_Socket$MyBroadcastReceiver_normal_2"
            android:exported="false" >
        </receiver>
        <receiver android:name=".Communication.NetworkChangeReceiver" android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE">
                    <action android:name="android.net.wifi.WIFI_STATE_CHANGED">
                    </action></action></intent-filter>
        </receiver>


        <service
            android:name=".Service.BLE.RadioControlService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Communication.ProtocolG5Service"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Communication.ProtocolG6Service"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Communication.ProtocoloCommunication"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
